{% load static %}
	<!--blog start -->
	<section id="blog" class="blog">
		<div class="container">
			<div class="section-header">
				<h2>latest blog</h2>
			</div>
			<!--/.section-header-->
			<div class="blog-content">
				<div class="row">
					<div class="col-sm-4">
						<div class="single-blog">
							<div class="single-blog-img">
								<img src="{% static 'images/blog/b1.jpg'%}" alt="blog image">
								<div class="single-blog-img-overlay"></div>
							</div>
							<div class="single-blog-txt">
								<h2><a href="#">Why Brands are Looking at Local Language</a></h2>
								<h3>By <a href="#">Robert Norby</a> / 18th March 2018</h3>
								<p>
									Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
									consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt....
								</p>
							</div>
						</div>

					</div>
					<div class="col-sm-4">
						<div class="single-blog">
							<div class="single-blog-img">
								<img src="{% static 'images/blog/b2.jpg'%}" alt="blog image">
								<div class="single-blog-img-overlay"></div>
							</div>
							<div class="single-blog-txt">
								<h2><a href="#">Why Brands are Looking at Local Language</a></h2>
								<h3>By <a href="#">Robert Norby</a> / 18th March 2018</h3>
								<p>
									Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
									consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt....
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="single-blog">
							<div class="single-blog-img">
								<img src="{% static 'images/blog/b3.jpg' %}" alt="blog image">
								<div class="single-blog-img-overlay"></div>
							</div>
							<div class="single-blog-txt">
								<h2><a href="#">Why Brands are Looking at Local Language</a></h2>
								<h3>By <a href="#">Robert Norby</a> / 18th March 2018</h3>
								<p>
									Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
									consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt....
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.container-->

	</section>
	<!--/.blog-->